* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
/*  no changes to menu-container links or scriptcozy or span --*/
.menu-container {
  /* padding: 20px 0; */
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  justify-content: space-between;

}


.links {
  /*border: 2px dotted yellow;  for debugging*/
  display: flex;
  align-items: center;        /* places the links in vertical center in menucont*/
  justify-content: space-between;
  font-size: 50px;
  text-decoration: underline;
  }

.scriptcozy {
    display: flex;
    /*justify-content: flex-start;   default value not needed */
    font-size: 50px;
    padding: 0 10px;
  }

span {
  padding: 0 10px;
}
/* ------------------Our Mission--------------------------------*/
.ourmission {
    display: flex;
    height: 700px;
    /*width: 1200px; */
    border: blue
    /*justify-content: center; */
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-color: black; 
    align-items: center;
  }

.bannertxt {
  display: flex;
  flex-direction; vertical;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: black;
}
/*---------  PhotoGallery with words ------------------------------  */
.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 70px auto;
}



.photo-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 70px auto;
}

.photo-banner {
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: black;
 width: 1200px;
}

.photo-grid-container img{
  height: 200px;
  width: 300px
  margin: 10px ;

}


.photo-grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1000px;
      margin: 70px auto;
}

/* -------- locations css ------------------------------------*/
.locations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
}

.places {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 40px;
}

.address {
  display: flex;
  align-items: center;
  margin: 0 20px;
  height: 300px;
  width: 300px;
  opacity: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
<----------------CSS Footer --------------------------------->
/* .footer2 {
      display: flex;
      justify-content: flex-start;
      color: seashell;
    }*/
